<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
    <form role="form" name="registerform" id="registerform" ng-submit="update(model)">
      <h2>{{model.display_name}}</h2>
      <h2><small>{{model.bio}}</small></h2>
      <hr class="colorgraph">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="form-group">
            <input type="text" name="first_name" id="first_name"
            class="form-control input-lg" placeholder="First Name" tabindex="1"
            ng-model="model.first_name">
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="form-group">
            <input type="text" name="last_name" id="last_name"
            class="form-control input-lg" placeholder="Last Name" tabindex="2"
            ng-model="model.last_name">
          </div>
        </div>
      </div>
      <div class="form-group">
        <input type="text" name="display_name" id="display_name"
        class="form-control input-lg" placeholder="Display Name" tabindex="3"
        ng-model="model.display_name">
      </div>

      <div class="form-group">
        <input type="country" name="country" id="country" class="form-control
        input-lg" placeholder="Name of your country" tabindex="5"
        ng-model="model.country">
      </div>
      <div class="form-group">
        <textarea name="skills" id="skills" class="form-control input-lg"
          placeholder="Comma separated names of the skills you excel at." tabindex="6"
          ng-model="model.skillsText"></textarea>
      </div>
      <div class="form-group">
        <textarea name="bio" id="bio" class="form-control input-lg"
          placeholder="Short bio about yourself" tabindex="7"
          ng-model="model.bio"></textarea>
      </div>

      <div class="form-group">
        Team:
        <select class="form-control" ng-options="team as team.get('name') for team in teams"
          ng-model="model.team" ></select>
      </div>

      <div class="form-group">
        Project:
        <select class="form-control" ng-options="project as project.get('name') for project in projects"
          ng-model="model.project">
        </select>
      </div>

      <hr class="colorgraph">
      <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-6">
          <input type="submit" class="btn btn-primary btn-block btn-lg"
          tabindex="8" value="Cool, Update."></div>
      </div>
    </form>
  </div>
</div>

